/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing:  -box;
    font-family: 'Poppins', sans-serif;
    text-rendering:auto;
}

:root{
    --primary-color: #1E90FF;
    --secondary-color: #333333 ;
    --tertairy-color:#181818;
    --background-color: #000 ;
    --text-color: #fff;
}


body {
    background-color:var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    font-size: 0.91rem;
    font-weight: 500;
    word-spacing: 0.01rem;
    line-height: 1;
    letter-spacing: 0.04rem;
    text-align: justify;
}



.secondary_bg {
    background-color: var(--secondary-color);
}

.tertiary_bg {
    background-color: var(--tertairy-color);
}

.border-white {
    border : 1px solid white;
}

.secondary_text {
    color:var(--secondary-color);
}

.primary_text {
    color:var(--primary-color);
}
