/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.92rem;
}

:root{
    --primary-color: #2F3640;
    --secondary-color: #189bf3 ;
    --tertairy-color:#45B3FA;
    --background-color: #000 ;
    --text-color: white;
}


body {
    background-color:var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}


.secondary_bg {
    background-color: var(--secondary-color);
}

.tertiary_bg {
    background-color: var(--tertairy-color);
}

.border-white {
    border: 1px solid white;
}

